*{
    margin: 0;
    padding: 0;
}
.parteSuperior{
    background-image:linear-gradient(#2fff00,#1ea200);
    color: #000000;
    display: flex;
    justify-content:space-between;
    padding: 20px 16px 0px 15px;
}
body{
    background-image:linear-gradient(#5e3a0a,#2f1f00);
}
html{
    background-color: #2f1f00;
}
.cabeça{
   width: 30%;
   height: 40%;
}
.projeto{
    display: inline-block;
    margin: 40px 64px;
    font-size: 50px;
    font-style: initial;
}
.texto1{
    font-size: 35px;
    font-style: initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.texto2{
    font-size: 35px;
    font-style: initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.texto3{
    font-size: 35px;
    font-style: initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.alunos{
 font-size: 23px;
 font-style: initial;
 color: rgb(0, 0, 0);
 justify-content: center;
}
.sobre{
    font-size: 23px;
    font-style: initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.inspiração{
    font-size: 23px;
    font-style: initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.possibilidades{
    font-size: 23px;
    font-style: initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.sobreProjeto{
    font-size: 23px;
    font-style:initial;
    color: rgb(0, 0, 0);
    justify-content: center;
}
.navegação{
    width: 65%;
    margin-top: 30px;
    margin-left: 200px;
    justify-content: center;
}